* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: sans-serif;
  padding: 3rem;
}

.section-input {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50rem;
  height: 25rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.input {
  border: 1px solid #1098ad;
  padding: 0.8rem;
  margin-bottom: 1.6rem;
  border-radius: 0.4rem;
}

.submit {
  text-transform: uppercase;
  background-color: #1098ad;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
}

.output {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: #444; */
}
.secondary-info {
  font-size: 1.8rem;
  padding: 1.8rem;
  margin-left: 2rem;
  line-height: 1.5;
}

.primary-info {
  font-size: 1.8rem;
  padding: 1.2rem;
  margin-right: 2rem;
  line-height: 1.3;
}

.temperature {
  font-size: 3.6rem;
}

.location {
  font-weight: 700;
}
